<!DOCTYPE html>
<html>
<head>
  <title>Photomatic</title>
  <%if (false) {%>
  <div>
    <span>CSS</span>
  </div>
  <%}%>
  <meta name="viewport" content="width-device-width, initial scale=1">
  <link rel="stylesheet" types="text.css" href="/css/normalize.css">
  <link rel="stylesheet" types="text.css" href="/css/skeleton.css">
  <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
	<link rel="icon" type="image/png" href="/app-images/favicon-camera.ico">
  <link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
  <body>
    <div class="template-header">
      <div class="container nav">
        <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
          <a class="photomatic" href="/photo/gallery">
            Photomatic
          </a>
        <div class="welcome">Welcome <%= args.username %></div>
          <a href="/photo/upload">
            <button class="upload-button">
              Upload
            </button>
          </a>
          <a class="logout" href="/user/logout">
            Logout
          </a>
     </div>
    </div>
    <div class="container">
       <%-include("pages/" + page, args);%>
  </div>
  <footer>Photomatic 2017</footer>
  </body>
</html>
