* {
	box-sizing: border-box;
}

body {
	background: #f2f8fd;
}

textarea {
	resize: none;
	color: #000000;
}

a {
	text-decoration: none;
}

.login, .sign-up, .commentForm, .upload {
	border-radius: 25px;
	background: linear-gradient(to top, #c8cfd6, #f1f3f4);
	position: absolute;
	margin: 0 auto;
}

/*=======================
====== LANDING PAGE =====
=========================*/

.message {
	text-align: center;
	margin: 150px auto;
	height: 200px;
	width: 600px;
	font-size: 45px;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
	color: white;
}

#landing::after {
	content: "";
	background: url('/app-images/photoback.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	opacity: 0.7;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
	z-index: -1;
}

ul {
	text-align: center;
	position: relative;
}

li {
	display: inline-block;
	list-style-type: none;
}

.land-head, h3 {
	text-align: center;
}

h3 {
	color: #ffffff;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
}

.land-head {
	margin-top: 3em;
	color: #ffffff;
	font-size: 5em;
	text-transform: uppercase;
	letter-spacing: 12px;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9)
}

.sub-head {
	letter-spacing: 3px;
	text-transform: capitalize;
}

.sign-button {
	margin-right: 15px;
	background-color: #97ccf1;
}

.land-button {
	margin-left: 15px;
	background-color: #d9d9d9;
}

/* =======================
==== ERROR PAGE TEXT =====
==========================*/

h1.error {
	color: #b20000;
	letter-spacing: 10px;
	padding: 15px;
	text-transform: uppercase;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
	text-align: center;
	transform: translate(1em, 6em);
}


/* ==== END ERROR PAGE TEXT ===== */

/* ===================
===== NAV BAR ========
=================== */
i {
	float: left;
}

button {
	color: #19262f;;
	background-color: #a4d2f3;
}

button:hover {
	color: #ffffff;
}

#signup {
	margin-right: 15px;
}

.photomatic {
	float: left;
	font-weight: bolder;
	padding-left: 10px;
	font-size: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	text-decoration: none;
	color: #b1d9f4;
}

.photomatic:hover {
	color: #f2f8fd;
}

.welcome {
	float: left;
	font-weight: normal;
	padding-left: 10px;
	font-size: 22px;
	letter-spacing: 2px;
}

.template-header {
	background-color: #19262f;
	width: 100%;
	height: 8%;
	text-align: right;
	padding: 10px;
	color: white;
	position: fixed;
}

.logout {
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-left: 25px;
}

.logout:hover {
	color: #f2f8fd;
}

/* ======= END NAV BAR  ======= */

/* ===========================
==== LOGIN & SIGN UP FORM ====
==============================
*/

#form-page::after {
	content: "";
	background: url('/app-images/photoback.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	opacity: 0.7;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
	z-index: -1;
}

.sign-up {
	padding-left: 25px;
	padding-bottom: 45px;
	transform: translate(25%, 50%);
	width: 65%;
}

.login {
	width: 65%;
	transform: translate(30%, 65%);
	padding-bottom: 45px;
}

.username-form, .password-form,
.password-conf-form {
	font-size: 18px;
	padding: 10px;
}

.password-conf-form {
	padding-bottom: 20px;
}

input {
	margin-left: 55px;
	width: 65%;
}

.submit {
	margin: 0 auto;
	margin-left: 30%;
}

/* ======= END LOGIN & SIGN UP FORM  ======= */

/* =============================
==== UPLOAD FORM  AND PAGE =====
================================ */

.upload-container {
	background: url('/app-images/photoback.jpg') center fixed;
	background-repeat: no-repeat;
}

.upload {
	position: absolute;
	width: 45%;
	border: 1px solid #CCC;
	border-radius: 6px;
	transform: translate(35%, 45%);
	font-size: 14px;
	color: black;
	padding-right: 12%;
  padding-top: 20px;

}

#upload {
	margin-right: 25%;
	color: #19262f;
}

.description-area {
	width: 70%;
	height: 2%;
}

/* ======= END UPLOAD FORM  AND PAGE ======= */

/*====================
===== PHOTO PAGE =====
====================== */

/* ==== IMAGE ====  */

.photo-full {
	margin-top: 4%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ==== END IMAGE ====  */

/* ==== BUTTONS =====  */

.button-rows {
	margin-left: 30%;
	margin-right: 30%;
}

.delete-button {
	/* margin-left: 30%; */
	background-color: #ff4c4c;
	color: #ffffff;
}

.edit-button {
	/* margin-right: 25%; */
	background-color: #66b266;
	color: #ffffff;
}

.delete-button, .edit-button {
	margin-top: 2%;
	margin-bottom: 3%;
}

.photo-description-edit {
	height: 100px;
	width: 500px;
	margin-right: 32%;
	margin-bottom: 0;
}

.user-buttons {
	margin-left: 40%;
	margin-right: 40%;
}
/* ==== END BUTTONS =====  */

/* === COMMNETS DISPLAY ON PHOTO PAGE === */

.username, .comment-text {
	display: inline-block;
	text-align: center;
}

.username {
	color: #4fabc9;
	font-weight: bold;
	text-align: center;
}

.comment-text {
	color: #000000;
	padding-left: 20px;
	text-align: center;
	margin-right: 45%;
}

.comments-empty, .photo-description {
	color: #000000;
	text-align: center;
}

.comments-empty {
	font-size: 20px;
	font-style: italic;
	text-transform: capitalize;
	letter-spacing: 2px;
	padding-top: 20px;
}

.photo-description {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #4c4c4c;
	font-size: 22px;
	padding-top: 25px;
	padding-bottom: 15px;
}

.userexp {
	margin: auto;
	width: 41%;
	display: block;
}

.photo-like, .delete-button.button {
	float: left;
}

.likes {
	text-align: center;
	font-size: 18px;
}

#comment {
	text-align: center;
	padding-top: 30px;
	font-size: 45px;
	font-weight: bold;
}

.commentcontainer {
	text-align: center;
}

.photo-like {
	flex-wrap: wrap;
}

/* === END COMMNETS DISPLAY ON PHOTO PAGE === */
/* ==== END PHOTO PAGE  =====  */

/* ========================
===== GALLERY IMAGE =======
=========================== */

.gallery {
	position: relative;
}

.gallery-image {
	transform: translate(-4em, 30%);
	border: 1px solid #D0D0D0;
	display: inline;
	width: 250px;
	height: 200px;
}

.userexp {
	display: block;
  margin-left: auto;
  margin-right: auto
}

/* ===== END GALLERY IMAGE ======= */


/* =======================
======= PREVIEW =========
========================= */

.preview-view {
	position: absolute;
}
.description-preview {
	text-align: center;
	transform: translate(1em, 4.5em);
	color: #000000;
}

/* This is for the image */
.document-preview {
		transform: translate(13em, 6em);
		display: block;
}

#gallery-button {
	transform: translate(-33em, 10em);
}

/* ======== END PREVIEW ========= */

/* ==========================
===== COMMENT FORM PAGE =====
=============================  */

.commentForm {
	transform: translate(55%, 80%);
	text-align: center;
	width: 45%;
	padding: 2% 0;
}

.comment-header {
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.comment-text-field {
	width: 60%;
	color: #868686;
	margin-left: 3%;
	letter-spacing: 2px;
}

/* ========================
========= FOOTER ==========
========================== */

footer {
	color: #ffffff;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 3px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	margin: 0;
}

/* ===== END FOOTER  ===== */
