* {
	box-sizing: border-box;
}

body {
	background: #f2f8fd;
}

/*=======================
====== LANDING PAGE =====
=========================*/

.message {
	text-align: center;
	margin: 150px auto;
	height: 200px;
	width: 600px;
	font-size: 45px;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
	color: white;
}

#landing::after {
	content: "";
	background: url('/app-images/photoback.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	opacity: 0.7;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
	z-index: -1;
}
ul {
	text-align: center;
	position: relative;
}

li {
	display: inline-block;
	list-style-type: none;
}

.land-head, h3 {
	text-align: center;
}

h3 {
	color: #ffffff;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
}

.land-head {
	margin-top: 3em;
	color: #ffffff;
	font-size: 5em;
	text-transform: uppercase;
	letter-spacing: 12px;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9)
}

.sub-head {
	letter-spacing: 3px;
	text-transform: capitalize;
}

.sign-button {
	margin-right: 15px;
	background-color: #97ccf1;
}

.land-button {
	margin-left: 15px;
	background-color: #d9d9d9;
}



/* =======================
==== ERROR PAGE TEXT =====
==========================*/

.error {
	color: #b20000;
	letter-spacing: 2px;
	padding: 15px;
	text-transform: uppercase;
}

.errorphoto {
	object-fit: contain;
	height: auto;
	width: 33%;
	opacity: 0.3px;
	-webkit-animation:spin 3s linear infinite;
	 -moz-animation:spin 3s linear infinite;
	 animation:spin 3s linear infinite;
	}
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.error-header {
	background-color: #71acd6;
	width: 100%;
	height: 9%;
	opacity: 0.8;
	text-align: right;
	padding: 15px;
	color: white;
	position: fixed;
}

/* ===================
===== NAV BAR ========
=================== */
i {
	float: left;
}

button {
	color: #000000;
	background-color: #a4d2f3;
}

#signup {
	margin-right: 15px;
}

.photomatic {
	float: left;
	font-weight: bolder;
	padding-left: 10px;
	font-size: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	text-decoration: none;
	color: #b1d9f4;
}

.photomatic:hover {
	color: #f2f8fd;
}

.welcome {
	float: left;
	font-weight: normal;
	padding-left: 10px;
	font-size: 22px;
}

footer {
	color: #ffffff;
	text-shadow: 0px 0px 18px rgba(0,0,0,0.9);
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 3px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	margin-top: 8rem;
}

.template-header {
	background-color: #19262f;
	width: 100%;
	height: 8%;
	text-align: right;
	padding: 10px;
	color: white;
	position: fixed;
}

.logout {
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-left: 25px;
}

.logout:hover {
	color: #f2f8fd;
}

/* ===========================
== Login Form & Sign Up Form =
===============================
*/

#form-page::after {
	content: "";
	background: url('/app-images/photoback.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	opacity: 0.7;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	position: absolute;
	z-index: -1;
}

form {
	border-radius: 25px;
	background: linear-gradient(to top, #c8cfd6, #f1f3f4);
	position: absolute;
	margin: 0 auto;
}

.sign-up {
	padding-left: 25px;
	padding-bottom: 45px;
	transform: translate(25%, 50%);
	width: 65%;
}

.login {
	width: 65%;
	transform: translate(30%, 65%);
	padding-bottom: 45px;
}

.username-form, .password-form,
.password-conf-form {
	font-size: 18px;
	padding: 10px;
}

.password-conf-form {
	padding-bottom: 20px;
}

input {
	margin-left: 55px;
	width: 65%;
}

.submit {
	margin: 0 auto;
	margin-left: 30%;
}


/* Upload Page
**
***/

.upload-container {
	background: url('/app-images/vpolaroid.jpg') center center fixed;

}

.upload {
	position: absolute;
	margin: 0 auto;
	width: 30%;
	padding: 20px;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 6px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: black;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#upload {
	background-color: #4fabc9;
	color: white;

}

.file {
	width: 100%;
}

/*
** Comments and Likes on the Photo page
***/

.commentcontainer {
	float: left;
}

.username {
	color: #4fabc9;
	font-weight: bold;
}

.comments-comment-text {
	word-wrap: break-word;
	margin-left: 40%;
}

.userexp {
	margin: auto;
	width: 41%;
	display: block;
}

.photo-like, .delete-button.button, .comment {
	float: left;
}

.likes {
	text-align: center;
	font-size: 18px;
}

#comment {
	text-align: center;
	padding-top: 30px;
	font-size: 45px;
	font-weight: bold;
}

.comments-empty {
	text-align: center;
}

.photo-full {
	padding-top: 10px;
	padding-bottom: 10px;
}

.comment {
	background-color: #e5e5e5;
	flex-wrap: wrap;
}

.comments-comment {
	word-wrap: break-word;
}

.comments-comment-text {
	padding: 3px 75px 75px 3px;
	text-align: center;
}

.commentcontainer {
	text-align: center;
}

a:link {
    text-decoration: none;
}

.photo-like {
	background-color: #e5e5e5;
	flex-wrap: wrap;
}

#btn-like {
	text-align: center;
	position: fixed;
	bottom: 20px;
	width: 100%;
}


/*
** GALLERY IMAGE AND PHOTO PAGE
***/

.gallery {
	float: left;
	margin: 5px;
	padding: 10px 5px 5px 5px;
	width: 100%;
}

.gallery-image {
	border: 1px solid #D0D0D0;
	display: inline;
}

.photo-full {
	display: block;
	margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.photo-description {
	text-align: center;
}


.photo-description-edit {
	height: 14px;
	width: 600px;
}

#gallery {
	background-color: #4fabc9;
	color: white;
	display: block;
  margin-left: auto;
  margin-right: auto;
}


.edit-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
	flex-wrap: wrap;
	width: 200px;
}

.delete-button.button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #e5e5e5;
	flex-wrap: wrap;
}

.userexp {
	display: block;
  margin-left: auto;
  margin-right: auto
}

/**********************
******** PREVIEW ******
************************/

h5 {
	text-align: center;
}

a.document-download.button {
	display: block;
  margin-left: auto;
  margin-right: auto;
	background-color: #4fabc9;
	width: 10%;
	color: white;
	text-align: center;
}

.document-preview {
	padding-top: 17px;
}
