<body id="landing">
	<form class="commentForm" method= "POST" id = "comment-form" action="/photo/comment">
			<h2 class="comment-header">
				Comment
			</h2>
			<div class="comment-container">
			<textarea name="text" class="comment-text-field" placeholder="Comment Here" /></textarea>
				<input name="photoId" type="hidden" value="<%- photo.get("id") %>"/>
				<br />
			<button class="submit-comment">Submit</button>
		</div>
	</form>
</body>
