

<div class="gallery">

	<% for (let i = 0; i < photos.length; i++) { %>
		<a target="_blank" href="/photo/photo/<%- photos[i].get('id') %>">
			<img class="gallery-image" src="<%- photos[i].getThumbnailSrc() %>" width="300" height="200"/></a>

	<% } %>
</div>
