<head>
  <title>Photomatic</title>
  <meta name="viewport" content="width-device-width, initial scale=1">
  <link rel="stylesheet" types="text.css" href="/css/cssReset.css">
  <link rel="stylesheet" types="text.css" href="/css/normalize.css">
  <link rel="stylesheet" types="text.css" href="/css/skeleton.css">
  <link rel="stylesheet" types="text.css" href="/css/stylesheet.css">
  <link rel="stylesheet" types="text.css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="/app-images/favicon-camera.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body id="landing">
  <div class="container">
    <div class="intro">
      <h1 class="land-head">Photomatic</h1>
      <h3 class="sub-head">Share your photos automatically!</h3>
      <ul>
        <li>
          <a href="/user/signup"><button class="sign-button">Sign Up</button></a>
        </li>
        <li>
          <a href="/user/login"><button class="land-button">Log In</button></a>
        </li>
      </ul>
      </div>
  </div>
</body>
