<body id="form-page">

	<form method="post" class="login">
		<div class="container">
			<% if(typeof error !== undefined) { %>
				<h5 class="error"><%= error %></h5>
			<%}%>
			<div class="username-form">
				<b>Username</b>
				<input class="login-username" type="text" name ="username"
					placeholder="Enter Username"></input>
			</div>
			<div class="password-form">
				<b>Password</b>
				<input class="login-password" type="password" name ="password"
				placeholder="Enter Password"></input><br>
			</div>
			<button class="submit">Submit</button>
		</div>
	</form>
	<script scr = "/assets/login.js"></script>
</body>
