<div class="container">
	<% if (photo.getPreviewSrc()) { %>
		<img class="document-preview" src="<%- photo.getPreviewSrc() %>"/>
	<% } else { %>
		<div class="document-preview noPreview">No preview available</div>
	<% } %>
	<h5 class="description-preview"><%- photo.get("description") %></h5>
	<p>
		<a href="/photo/gallery"><button id="gallery-button">Gallery</button></a>
	</p>
</div>
