<body id="form-page">

	<form class="sign-up" method="post">
			<% if(typeof error !== undefined) { %>
				<h3 class="error"><%= error %></h3>
			<% } %>
			<div class="username-form">
				<b>Username</b>
				<input type="text" name="username" placeholder="Enter Username"></input><br>
			</div>
			<div class="password-form">
				<b>Password</b>
				<input type="password" name="password" placeholder="Enter Password"></input><br>
			</div>
			<div class="password-conf-form">
				<b>Confirm <br /> Password</b>
				<input type="password" name="confirmpassword" placeholder="Re-Enter Password"></input><br>
			</div>
				<button class="submit">Submit</button>

	</form>

	<script src = "/assets/signup.js"></script>
</body>
